.product_detail_container {
  display: flex;
  flex-wrap: wrap;
  /* makes it responsive */
  gap: 40px;
  /* space between image and info */
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.product_image img {
  max-width: 400px;
  width: 100%;
  object-fit: contain;
}

.product_info {
  max-width: 600px;
}

.product_info h2 {
  margin-bottom: 10px;
}

.product_info p {
  margin-bottom: 8px;
}

.product_info button {
  padding: 10px 20px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  cursor: pointer;
}