.login_container {
  min-height: 100vh;
  background: #f3f3f3;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
}

/* Amazon logo */
.login_container img {
  width: 120px;
  margin-bottom: 20px;
  object-fit: contain;
}

/* Form box */
.login_container>div {
  width: 350px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;

  padding: 20px 26px;

  display: flex;
  flex-direction: column;
}

/* Heading */
.login_container h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

/* Form layout */
.login_container form {
  display: flex;
  flex-direction: column;
}

/* Input wrapper */
.login_container form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

/* Labels */
.login_container label {
  /* font-size: 13px;
  font-weight: 600; */
  margin-bottom: 4px;
}

/* Inputs */
.login_container input {
  height: 32px;
  padding: 6px 8px;

  border: 1px solid #a6a6a6;
  border-radius: 3px;
  font-size: 14px;
}

.login_container input:focus {
  outline: none;
  border-color: #e77600;
  box-shadow: 0 0 0 2px rgba(228, 121, 17, 0.3);
}

/* Sign in button */
.login_signbtn {
  margin-top: 10px;
  height: 32px;

  background: linear-gradient(#f5d78e, #eeb933);
  border: 1px solid #a88734;
  border-radius: 3px;

  cursor: pointer;
  font-size: 14px;
}

.login_signbtn:hover {

  background-color: var(--primary-shade);
}

/* Info text */
.login_container p {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #555;
}

/* Register button */
.login_registerbtn {
  margin-top: 20px;
  height: 32px;

  background: #e7e9ec;
  border: 1px solid #adb1b8;
  border-radius: 3px;

  cursor: pointer;
  font-size: 13px;
}

.login_registerbtn:hover {
  background: #d7d9dc;
}