.cart_container {
  display: flex;
  gap: 24px;
  padding: 24px 80px;
  background: #eaeded;
  min-height: 100vh;
}

/* LEFT SIDE */
.cart_left {
  flex: 3;
  background: white;
  padding: 24px;
  border-radius: 8px;
}

.cart_left h2 {
  font-size: 26px;
  margin-bottom: 6px;
}

.cart_left h3 {
  font-size: 16px;
  font-weight: 400;
  color: #565959;
}

.cart_left hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* EMPTY CART */
.empty_cart {
  font-size: 16px;
  color: #555;
  padding: 20px 0;
}

/* RIGHT SIDE */
.cart_right {
  flex: 1;
  background: white;
  padding: 24px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.subtotal {
  font-size: 18px;
  margin-bottom: 16px;
}

.subtotal span {
  font-weight: 700;
}

.checkout_btn {
  width: 100%;
  padding: 12px;
  background: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.checkout_btn:hover {
  background: #f7ca00;
}