.container{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  max-width: 100%;
  /* align-self: center; */
  justify-content: center;
  gap: 100px;
}
.cart_container{
  padding: 20px;
}
.cart_container h2,
.cart_container h3{
  padding: 10px;
}
.cart_container hr{
  margin: 10px;
}
.subtotal{
  position: sticky;
  top: 100px;
  z-index: 100px;
  align-items: end;
  justify-items: end;
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid  rgba(193, 193, 193);
  background-color:rgba(242, 241, 241);
  border-radius: 5px;
}

.subtotal a{
  text-align: center;
  width: 100px;
  height: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}
.subtotal a:hover {
  background: var(--primary-color);
}
.subtotal>div,
.subtotal span{
  display: flex;
  gap: 20px;
}
@media screen and (max-width:968px) {
  .container{
    flex-direction: column;
    order: 1;
  }
  
}
.product_container{
  display: flex;
  gap: 20px;
}
.btn_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn{
padding: 5px 16px;
font-weight: bold;
cursor: pointer;
background-color: #fff;
border: none;
}
.btn:hover{
  background-color: orange;
}