* {
  margin: 0;
  padding: 0;

}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  color: white;
  width: 100%;
  height: 70px;
  gap: 10px;
 margin-right: 0;
}

/* Logo + Delivery Section */
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.logo_container a img {
  width: 80%;
  padding-top: 5px;
  margin-left: 20px;
  vertical-align: middle;
}

.delivary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  padding: 5px;
}

.delivary p {
  font-weight: 10px;

}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  flex: 1;
  height: 40px;
  margin: 0 10px;
  background: white;
}

.search select,
.search input {
  padding: 0 10px;
  font-weight: bold;
  outline: 1 px solid white;
}

.search select {
  border: none;
}

.search input {
  border: 1 px solid white;
  width: 100%;
  margin-right: -2px;
}

.search svg {
  background: #febd69;
  color: #0f1111;
  padding: 7px;
}

.search svg:hover {
  background-color: #f5a623;
}

.search:focus-within {
  border: 2px solid rgb(235, 161, 173);
}

.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  gap: 10px;
}

.order_container a {
  color: white;
  text-decoration: none;
}

.order_container p {
  font-weight: 10px;
}

.language {
  width: 100px;
  display: flex;
  padding: 10px;
}

.language select {
  background: #000;
  border: none;
  color: white;
}

.language img {
  width: 40%;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  font-weight: bold;
  top: 0px;
  right: -10px;
  font-style: 20px;
  background-color: #000;
  left: 16px;
  color: orange;
}

.order_container a:hover,
.delivary:hover,
.logo_container a:hover,
.cart:hover,
.lower_container ul li:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.lower_container {
  background-color: #232f3e;
  color: white;

}

.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}

.lower_container ul li {
  padding: 8px;

}

.lower_container ul li:first-child {
  display: flex;
  align-items: center;
  gap: 2px;
}

.lower_container ul li:first-child svg {
  font-size: 80px;
  margin-left: 10px 10px;
}

@media screen and (max-width:576px) {
  .header_container {
    flex-direction: column !important;
    height: auto;
    gap: 5px;
  }

  .lower_container ul li:not(:first-child) {
    display: none;
  }

  .language {
    display: none;
  }

}