.container {
    background-color: rgb(218, 205, 205);
    padding: 30px;

}
.order_container {
   background-color: white;
   padding: 20px;
}
.order_container h2 {
    border-bottom: 1px solid var(--primary-shade);
    padding: 10px;
}